<<<<<<< HEAD
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin-bottom: 100%;
}

div#logo {
    width: 50%;
    border: 1px solid black;
    float: left;
}

p#NombrePagina {
    border: 1px solid black;
    font-size: xx-large;
    text-align: center;
}

div#Menu {
    border: 1px solid black;
    width: 30%;

}


=======
div#Encabezado {
    font-size: xx-large;
    float: left;
}

>>>>>>> 06bdf9d2c24b4824dca1dd8e1d3a3e3dedea0c2d
